/* FONTS  {{{ */
@font-face {
    font-family: 'UmeMinchoLatin';
    src: url('fonts/UmeMinchoLatin/ume-mincho-latin-webfont.eot');
    src: url('fonts/UmeMinchoLatin/ume-mincho-latin-webfont.eot?') format('embedded-opentype'),
         url('fonts/UmeMinchoLatin/ume-mincho-latin-webfont.woff') format('woff'),
         url('fonts/UmeMinchoLatin/ume-mincho-latin-webfont.ttf') format('truetype'),
         url('fonts/UmeMinchoLatin/ume-mincho-latin-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Ume P Mincho';
    src: url('fonts/UmePMincho/ume-p-mincho-webfont.eot');
    src: url('fonts/UmePMincho/ume-p-mincho-webfont.eot?') format('embedded-opentype'),
         url('fonts/UmePMincho/ume-p-mincho-webfont.woff') format('woff'),
         url('fonts/UmePMincho/ume-p-mincho-webfont.ttf') format('truetype'),
         url('http://balsamine.be/pub/skins/balsamine/fonts/UmePMincho/ume-p-mincho-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UmePGothicBalsaRegular';
    src: url('fonts/UmePGothicBalsaRegular/ume-p-gothic_balsa-webfont.eot');
    src: url('fonts/UmePGothicBalsaRegular/ume-p-gothic_balsa-webfont.eot?') format('embedded-opentype'),
         url('fonts/UmePGothicBalsaRegular/ume-p-gothic_balsa-webfont.woff') format('woff'),
         url('fonts/UmePGothicBalsaRegular/ume-p-gothic_balsa-webfont.ttf') format('truetype'),
         url('fonts/UmePGothicBalsaRegular/ume-p-gothic_balsa-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'UmePGothicBalsaRegular';
    src: url('fonts/UmePGothicBalsaBold/ume-p-gothic_balsa-bold-webfont.eot');
    src: url('fonts/UmePGothicBalsaBold/ume-p-gothic_balsa-bold-webfont.eot?') format('embedded-opentype'),
         url('fonts/UmePGothicBalsaBold/ume-p-gothic_balsa-bold-webfont.woff') format('woff'),
         url('fonts/UmePGothicBalsaBold/ume-p-gothic_balsa-bold-webfont.ttf') format('truetype'),
         url('fonts/UmePGothicBalsaBold/ume-p-gothic_balsa-bold-webfont.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'UmePGothicVerticalRegular';
    src: url('fonts/UmePGothicVerticalRegular/ume-p-gothic-vertical-webfont.eot');
    src: url('fonts/UmePGothicVerticalRegular/ume-p-gothic-vertical-webfont.eot?') format('embedded-opentype'),
         url('fonts/UmePGothicVerticalRegular/ume-p-gothic-vertical-webfont.woff') format('woff'),
         url('fonts/UmePGothicVerticalRegular/ume-p-gothic-vertical-webfont.ttf') format('truetype'),
         url('fonts/UmePGothicVerticalRegular/ume-p-gothic-vertical-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ume P Gothic Shadow';
    src: url('fonts/UmePGothicShadow/ume-p-gothic-shadow-webfont.eot');
    src: url('fonts/UmePGothicShadow/ume-p-gothic-shadow-webfont.eot?') format('embedded-opentype'),
         url('fonts/UmePGothicShadow/ume-p-gothic-shadow-webfont.woff') format('woff'),
         url('fonts/UmePGothicShadow/ume-p-gothic-shadow-webfont.ttf') format('truetype'),
         url('fonts/UmePGothicShadow/ume-p-gothic-shadow-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'UmePlumePGothic-90';
    src:     url('fonts/UmePlumePGothic/UmePlumePGothic-90.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'UmePlumePGothic-120';
    src:     url('fonts/UmePlumePGothic/UmePlumePGothic-120.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'UmePlumePGothic-200';
    src:     url('fonts/UmePlumePGothic/UmePlumePGothic-200.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'UmePlumePMincho-90';
    src:     url('fonts/UmePlumePMincho/UmePlumePMincho-90.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'UmePlumePMincho-120';
    src:     url('fonts/UmePlumePMincho/UmePlumePMincho-120.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'UmePlumePMincho-200';
    src:     url('fonts/UmePlumePMincho/UmePlumePMincho-200.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'UmeLoopGothic16';
    src:     url('fonts/UmeLoop/UmeLoopGothic16.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'UmeLoopGothic12';
    src:     url('fonts/UmeLoop/UmeLoopGothic12.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'UmeLoopVertical12';
    src:     url('fonts/UmeLoop/UmeLoopVertical12.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'UmeLoopMincho12';
    src:     url('fonts/UmeLoop/UmeLoopMincho12.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UmeWide';
    src: url('fonts/ume-vertical-wide/ume-vertical-wide-webfont.eot');
    src: url('fonts/ume-vertical-wide/ume-vertical-wide-webfont.eot?') format('embedded-opentype'),
         url('fonts/ume-vertical-wide/ume-vertical-wide-webfont.woff') format('woff'),
         url('fonts/ume-vertical-wide/ume-vertical-wide-webfont.woff2') format('woff2'),
         url('fonts/ume-vertical-wide/ume-vertical-wide-webfont.ttf') format('truetype'),
         url('fonts/ume-vertical-wide/ume-vertical-wide-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'UmeWideOblique';
    src: url('fonts/ume-vertical-wide-oblique/ume-vertical-wide-oblique-webfont.eot');
    src: url('fonts/ume-vertical-wide-oblique/ume-vertical-wide-oblique-webfont.eot?') format('embedded-opentype'),
         url('fonts/ume-vertical-wide-oblique/ume-vertical-wide-oblique-webfont.woff') format('woff'),
         url('fonts/ume-vertical-wide-oblique/ume-vertical-wide-oblique-webfont.woff2') format('woff2'),
         url('fonts/ume-vertical-wide-oblique/ume-vertical-wide-oblique-webfont.ttf') format('truetype'),
         url('fonts/ume-vertical-wide-oblique/ume-vertical-wide-oblique-webfont.svg') format('svg');
    font-weight: normal;
    font-style: italic;
}

/*@font-face {
    font-family: 'UmeWideOblique';
    src: url('fonts/ume-vertical-wide-oblique/ume-vertical-wide-oblique-webfont.eot');
    src: url('fonts/ume-vertical-wide-oblique/ume-vertical-wide-oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ume-vertical-wide-oblique/ume-vertical-wide-oblique-webfont.woff') format('woff'),
         url('fonts/ume-vertical-wide-oblique/ume-vertical-wide-oblique-webfont.woff2') format('woff2'),
         url('fonts/ume-vertical-wide-oblique/ume-vertical-wide-oblique-webfont.ttf') format('truetype'),
         url('fonts/ume-vertical-wide-oblique/ume-vertical-wide-oblique-webfont.svg#UmeWideOblique') format('svg');
    font-weight: normal;
    font-style: italic;
}*/


/* }}} */

/* TEMPLATE {{{ */
/* ====== Page Head, Body, and Foot ====== */
.main {
    display: table-cell;
    *display: block;
    width: auto;
}
.body,.main {
    *zoom: 1;
}
.body:after,.main:after {
    clear: both;
    display: block;
    visibility: hidden;
    overflow: hidden;
    height: 0 !important;
    line-height: 0;
    font-size: xx-large;
    content: " x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x ";
}
.page {
    margin: 19px;
    margin-bottom: 0;
    padding-bottom: 31px;
    width: 960px;
}
/* ====== Columns ====== */
.leftCol {
    float: left;
    width: 250px;
    _margin-right: -3px;
}
.rightCol {
    float: right;
    width: 300px;
    _margin-left: -3px;
}

/* }}} */

/*GRID {{{ */
.line:after,.lastUnit:after {
    clear: both;
    display: block;
    visibility: hidden;
    overflow: hidden;
    height: 0 !important;
    line-height: 0;
    font-size: xx-large;
    content: " x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x ";
}
.line {
    *zoom: 1;
}
.unit {
    float: left;
}
.size1 {
    width: 150px;
}
.size2 {
    width: 300px;
}
.size3 {
    width: 450px;
}
.size4 {
    width: 600px;
}
.size5 {
    width: 750px;
}


.size1of1 {
    float: none;
}
.size1of2 {
    width: 50%;
}
.size1of3 {
    width: 33.33333%;
}
.size2of3 {
    width: 66.66666%;
}
.size1of4 {
    width: 25%;
}
.size3of4 {
    width: 75%;
}
.size1of5 {
    width: 20%;
}
.size2of5 {
    width: 40%;
}
.size3of5 {
    width: 60%;
}
.size4of5 {
    width: 80%;
}
.lastUnit {
    display: table-cell;
    float: none;
    width: auto;
    *display: block;
    *zoom: 1;
    _position: relative;
    _left: -3px;
    _margin-right: -3px;
}
.unit + .unit {
    margin-left: 19px;
}

/* }}} */

/* BASELINE GRID: 13/19PX ******************** {{{*/
h1, h2 {
     line-height: 38px;
     margin-bottom: 19px;
}
h1, h2, h3, h4 {
     margin-top: 19px;
}
h3, h4, h5, h6 {
     line-height: 19px;
}
h1 {
     font-size: 38px;
     top: 5px;
}
h2 {
     font-size: 19px;
     top: 16px;
     line-height: 22px;
    padding-bottom: 19px;
}
h2 em, h2 i {
    border-bottom: 1px solid #002D36;
    font-size: 1em;
}
h3 {
     font-size: 16px;
     top: 1px;
    margin-bottom: 19px
    font-family: UmePGothicBalsaRegular, helvetica, arial, sans-serif;
}
h4 {
     font-size: 13px;
    outline: 1px solid #002D36;
    display: inline-block;
    padding: 0 6px;
     /*top: 2px;*/
}
h5 {
     font-size: 15px;
     top: 4px;
}
h6 {
     font-size: 13px;
     top: 5px;
}
h1:first-child, h2:first-child, h3:first-child, h4:first-child {
     margin-top: 0;
}
p, address {
     font-size: 13px;
     line-height: 19px;
     top: 5px;
     /*max-width: 600px;*/
}
pre {
    font-size: 15px;
    line-height: 19px;
}
small {
     font-size: 11px;
}
abbr, code, kbd, samp, small, var {
     line-height: 15px;
}
ul, ol, dl, dialog {
     font-size: 13px;
     line-height: 19px;
     margin-bottom: 19px;
     margin-top: 19px;
     top: 5px;
}
li ul, li ol, ul ul, ol ol {
     margin-bottom: 0;
     margin-top: 0;
     top: 0;
}
li h1, li h2, li h3, li h4, li h5, li h6, li p {
     top: 0;
}

form {
    margin: 19px 0;
}
form td {
    border: 0;
}
form, legend, label {
     font-size: 13px;
     line-height: 19px;
}
legend {
     top: 5px;
}
table {
     font-size: 13px;
}
caption {
     font-size: 13px;
     line-height: 19px;
}
hr {
     height: 1px;
     margin: 19px 0px 18px 0px;
     display: inline-block;
}

/* }}} */


/* REDEFINE TAGS {{{ */
* {
    border-color: DarkRed;
    color: DarkRed;
}
body {
     font-family: umepgothicverticalregular,arial,Helvetica,sans-serif;
     background: white;
     font-size: 75%;
     line-height: 1.5; /*12/18*/
     text-rendering: optimizeLegibility;
     margin: 19px;
     margin-bottom: 0;
    width: 960px;
}
a {
    color: inherit;
    text-decoration: underline;
    padding: 2px 0;
}
a:hover {
    outline: 1px solid LightGray;
}
h1, h2, h3, h4, h5, h6, p, pre, address, ul, ol, dl, dialog, legend, caption,
hr {
     position: relative;
}
h1, h2 {
	font-family: umemincholatin,'andale Mono','Courier New',Courier,monospace;
    text-transform: uppercase;
    word-spacing: 7px;
}
h1 + h2 {
    margin-top: -30px;
    margin-bottom: 6px;
}
h2 {
    top: 16px;
    line-height: 22px;
}
h3 {
    text-transform: uppercase;
}
h2 + h3 {
    top: -15px;
}
h1 + h3 {
}
b, strong {
    border: 1px solid DarkRed;
    padding: 2px 6px;
     /*font-weight: bold;*/
}
cite, dfn, em, i {
     /*font-style: italic;*/
	font-family: umemincholatin,'andale Mono','Courier New',Courier,monospace;
    font-size: 15px;
}
code, kbd, samp, pre, tt, var {
	font-family: umemincholatin,'andale Mono','Courier New',Courier,monospace;
}
p {
     word-spacing: 2px;
     hyphenate: auto;
     hyphenate-lines: 3;
}
p + p {
     /*text-indent: 1.5em;*/
     margin-bottom: 19px;
}
p + p.no-indent {
     text-indent: 0;
}
dt {
    float: left;
    margin-right: 0.5em;
    font-family: umepgothicverticalregular,arial,Helvetica,sans-serif;
    font-size: 11px;
    margin-top: 1px;
}
dd {
	font-family: umemincholatin,'andale Mono','Courier New',Courier,monospace;
}

pre, code {
     white-space: pre-wrap;
    margin: 19px;
    font-size: 14px;
}
del {
     text-decoration: line-through;
}
mark {
     background: rgba(255, 255, 0, 0.4);
     padding: 0 .25em;
}
ins {
     color: #f00;
}
small, sup, sub {
     font-size: 8px;
}
big {
     font-size: 125%;
     line-height: 80%;
}
abbr, acronym {
     font-size: 85%;
     text-transform: uppercase;
     letter-spacing: .1em;
}
abbr[title], acronym[title], dfn[title] {
     border-bottom: 1px dotted #002D36;
     cursor: help;
}
sup, sub {
     line-height: 0;
}
sup {
    vertical-align: 6px;
    margin-left: 2px;
}
sup a {
    text-decoration: none;
}
sub {
     vertical-align: sub;
}
blockquote {
     padding: 1.5em;
}
hr {
     border: none;
     background: #000;
     width: 100%;
     height: 1px;
}
ul, ol {
     margin-left: 1.5em;
}
ul {
     list-style: none;
     margin: 0;
}
ul ul {
    margin-left: 19px;
}
ul li:before {
    content: "— ";
}
ul li {
    text-indent: -16px;
    margin-left: 16px;
}

ol {
     list-style: decimal outside;
}
textarea {
    border: 1px solid #002D36;
    width: 100%;
    max-width: 600px;
	/*font-family: umemincholatin,'andale Mono','Courier New',Courier,monospace; */
}

input, select, button {
     cursor: pointer;
     max-width: 100%;
     background: none;
     border: 1px solid DarkSlateGrey;
     /*border: 1px solid #002D36;*/
     font-family: umepgothicverticalregular,arial,Helvetica,sans-serif;
     height: 17px;
     margin-top: 7px;
     border-color: DarkRed;
     color: DarkRed;
}
input[type=submit] {
    width: auto;
    padding: 0 2px;
    height: 1.5em;
}
input[type=submit]:hover {
    background-color: DarkRed;
    color: white;
}
table {
     font: inherit;
     /*width: 100%;*/
}
img {
    margin: 19px 0;
}
/* Debug */
.debug {
     outline: solid gold 1px;
}
.debug-background {
     background: rgba(255, 215, 0, 0.2) !important;
}

/* }}} */


/* PMWIKI-SPECIFIC {{{ */
    /* EDIT HELP {{{ */
        div.edit-help *{
            font-family: umepgothicbalsaregular,arial,Helvetica,sans-serif;
            font-size: 11px;
            line-height: 15px;
            letter-spacing: 0.5px;
        }
        div.edit-help strong {
            font-family: umemincholatin,'andale Mono','Courier New',Courier,monospace;
        }
        div.edit-help h3:hover {
            cursor: pointer;
            outline: 1px solid #002D36;
        }
    /* }}} */

    /* EDIT MENU {{{ */
        #wikicmds {
            /*border: 1px solid DarkSlateGray;*/
            padding: 10px;
            margin: 0;
            margin-top: -1px;
            display: inline-block;
            width: 130px;
        }
        #wikicmds ul {
            display: block !important;
        }
        #wikicmds ul li:before {
            content: '';
        }
        #wikicmds hr {
            margin: 23px auto 13px auto !important;
        }
        form#search-bar {
            margin-top: -1px;
            /*border: 1px solid DarkSlateGrey;*/
            padding: 10px;
            width: 130px;
            margin-bottom: 0;
        }
        form#search-bar input[type=text] {
            text-align: center;
            /*width: 75%;*/
            /*display: block;*/
            /*margin: 2px auto;*/
        }
    /* }}} */

    /* BLOGIT {{{ */
        #blog-sidebar {
            margin-bottom: 2em !important;
        }
        .sidehead {
            text-transform: uppercase;
            margin-top: 1em;
        }
        .list-cat li {
            display: inline;
            margin: 0;
        }
        .list-cat li:before {
            content: ", ";
        }
        .list-cat li:first-child:before {
            content: "";
        }
        .blogit-post-summary {
            margin-top: 0 !important;
            float: left;
            clear: none !important;
            width: 300px;
            margin: 0 1em 1em 0;
            padding: 1.5em;
            border: 1px solid DarkSlateGray;
        }
        .blogit-meta-data-head > h5{
            font-style: normal !important;
            font-family: umemincholatin,'andale Mono','Courier New',Courier,monospace;
            font-size: 11px;
        }
        #commentblock {
            width: 600px;
        }
        .blogit-post-body {
            max-width: 600px;
        }
        .blogit-meta-data-footer {
            border-bottom: 1px solid DarkSlateGray;
            max-width: 600px;
            padding-bottom: 3em !important;
            margin-bottom: 0 !important;
        }
        .blogit-meta-data-footer h5 {
            font-size: 11px;
            margin-right: 0 !important;
        }
        .blogit-meta-data-footer h5 + h5:before {
            content: " — ";
        }
        div#homepage-postit div.blogit-post-summary {
            /*float: left;*/
            /*clear: none;*/
            /*width: 50%;*/
            /*margin-right: 1em;*/
        }
    /* }}} */


.caption {
    font-family: umepgothicbalsaregular,arial,Helvetica,sans-serif;
    font-size: 11px;
}
.caption em {
    font-size: 12px;
}
table.thumbtable, table.hichem, table.traces {
    position: relative;
    z-index: 100;
    margin-right: 38px;
    /*margin-bottom: 19px;*/
}
img[alt=PmGraphViz] {
    /*margin-top: -100px;*/
    /*margin-left: -100px;*/
}

div.indent {
    margin: 38px;
    margin-bottom: 0;
    font-family: umemincholatin,'andale Mono','Courier New',Courier,monospace;
    font-size: 15px;
    line-height: 19px;
}
div.indent em {
     font-family: umepgothicverticalregular,arial,Helvetica,sans-serif !important;
     font-size: 13px;
}
div.indent + div.indent {
    margin: 0 38px;
    text-indent: 19px;
}
div.indent + div.outdent {
    margin-left: 38px;
}
p.footnote {
    margin-top: 2em;
    font-size: 11px;
}

/* }}} */

div#main {
   margin-top: 2em;
}

/* MENU {{{ */
h1#logo {
    font-family: umepgothicbalsaregular,arial,Helvetica,sans-serif;
    text-transform: none;
    border-right: 1px solid DarkSlateGray;
    display: inline-block;
    z-index: 1000;
    margin-bottom: 0.5em;
}
h1#logo a {
    text-decoration: none;
}
h2#logo {
   visibility: hidden;
}
#menu {
    width: 220px;
    font-family: umemincholatin,'andale Mono','Courier New',Courier,monospace;
    z-index: 400;
    position: relative;
    background-color: white;
    margin-bottom: 2em;
}
#menu h4 {
    text-transform: uppercase;
    margin: 0px -2px 0px 1px;
    top: 6px;
    padding: 3px 6px;
    z-index: 110;
    float: left;
    outline: 1px solid LightGray;
    background-color: white;
}
menu h4 a {
    text-decoration: none;
}
#menu h4 a:hover {
    outline: none;
    text-decoration: underline;
}
#menu h4 a:focus {
    outline: none;
}
#menu li {
    display: inline;
    margin-left: 0px;
    background-color: white;
    text-indent: 0;
}
#menu li:first-child {
    margin-left: 8px;
}
#menu ul {
    margin-top: 4px;
}
#menu a {
    text-decoration: none;
    padding: 6px 5px;
}
#menu li:before {
    content: "";
}
/* }}} */

/* SUBMENU {{{ */
    div.submenu {
        margin-bottom: 2em;
        z-index: 1000;
        position: relative;
        float: none !important;
    }
    div.submenu li {
        display: inline;
        font-family: UmePGothicBalsaRegular;
        font-weight: bold;
        /*font-family: UmePGothicVerticalRegular;*/
        text-transform: uppercase;
        letter-spacing: 3px;
        margin-left: 0;
        margin-right: 2em;
    }
    div.submenu li a {
        color: #FF0052 !important;
        text-decoration: none;
        border-bottom: 2px solid #FF0052 !important;
    }
    div.submenu li:before {
        content: "";
    }
/* }}} */

/* I LIKE IT!  {{{ */
    div#___plusone_0,
    .fb_iframe_widget {
        vertical-align: top !important;
        padding-top: 36px !important;
    }
/* }}} */


/* POPUP pour copier/coller propriétés des blocs drag n'drop {{{ */
.noscroll {overflow:hidden;}
.pop-screen {background:#000; opacity:0.9; filter:alpha(90); position:fixed; left:0; top:0; right:0; bottom:0; z-index:9994; display:none;}
.pop-wrap {position:fixed; left:0;right:0;top:0;bottom:0; z-index:9995; overflow:auto; display:none; }
.pop-container {margin:40px auto; display:block; width:600px; background:white; position:relative;}
.pop-block {
    position:relative;
    padding: 1em;
}
.pop-content {padding:20px; color:#333; word-wrap:break-word; overflow:auto;
        font-family: UmeMinchoLatin;
        outline: 2px solid black;
        margin: 1em;
}
.pop-content h1:first-child, .pop-content h2:first-child, .pop-content p:first-child {margin-top:0;}
.pop-action-block {background:#eee; padding:15px 20px; border-top:1px solid #ccc; text-align:right;}
.pop-title {margin:0; padding-bottom:10px; font-size:26px; font-weight:bold; line-height:28px; padding:20px; margin-bottom:0;}
.pop-btn-close {font-family:arial,sans-serif; position:absolute; color:#888; font-size:28px; width:30px; height:30px; line-height:31px; text-align:center; cursor:pointer; right:0px; top:0px; background:white;}

/* }}} */

/* CUSTOM IDS/CLASSES {{{ */
    /* SHAPES {{{ */
        .skew {
            -moz-transform:skewx(10deg); -webkit-transform:skewx(10deg); -o-transform:skewx(10deg); transform:skewx(10deg);
        }
        .skew-content {
            -moz-transform:skewx(-10deg); -webkit-transform:skewx(-10deg); -o-transform:skewx(-10deg); transform:skewx(-10deg);
        }
        .losange {
            border: 1px solid DarkSlateGrey;
            width: 110px;
            height: 110px;
            -moz-transform:rotate(45deg) matrix(1, -0.25, -0.25, 1, 0, 0); -webkit-transform:rotate(45deg); -o-transform:rotate(45deg); transform:rotate(45deg);
            background-color: white;
            z-indeX: 101;
            position: relative;
        }
        .losange-content {
            text-align: center;
            width: 150px;
            margin-left: -19px;
            margin-top: 25px;
            -moz-transform:rotate(-45deg) matrix(0.75, 0, 0, 1.25, 0, 0); -webkit-transform:rotate(-45deg); -o-transform:rotate(-45deg); transform:rotate(-45deg);
        }
    /* }}} */


div.production p {
    font-family: umepgothicbalsaregular,arial,Helvetica,sans-serif;
}


div#address {
    padding: 10px;
    letter-spacing: 1px;
    width: 130px;
}
div#address div {
    width: 160px;
}
div.postit {
    font-family: umepgothicbalsaregular,arial,Helvetica,sans-serif;
    width: 200px;
    float: left;
    /*float: right;*/
    border: 1px solid DarkSlateGray;
    padding: 0 1em 2em 2em;
    margin: 3px 1em 0 1em;
    z-index: 400;
}
div#postit h2 {
    margin-bottom: 0;
    padding-bottom: 14px;
}
div#sidebar {
   text-align: center;
    position: relative;
    z-index: 1000;
}
div#sidebar hr {
    margin: 0 auto;
    width: 40%;
}
div#breadcrumbs div {
    z-index: 1000;
}
div#wikibody {
    background-color: white;
    position: relative;
    z-index: 1000;
}
td {
    border: 1px solid DarkSlateGrey;
    vertical-align: middle;
    padding: 6px;
}
table.thumbtable {
    margin-top: -10px;
}
div#wikiupload td,
table.thumbtable td {
    border: none;
}
diV#home-graphviz {
    margin-top: -100px;
    margin-left: -100px;
    position: relative;
    z-index: -1;
}
/* AGENDA */
div.month {
    margin-bottom: 3em;
    height: auto;
    overflow: visible;
}
div.month.past {
    height: 24px;
    overflow: hidden;
}
div.month tr:first-child:hover {
    cursor: pointer;
    text-decoration: underline;
}


iframe#pince {
    position: fixed;
    /*position: absolute;*/
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    z-index: -1;
}

/* }}} */

/* HOMEPAGE 2012-2013 TUNNEL {{{ */
/*
    div#tunnel div.tunnel-img {
       position: absolute;
       visibility: hidden;
    }
    div#tunnel div#tunnel1 {
        visibility: visible;
        z-index: 100;
    }
    div#tunnel2 {
        top: 20px;
        left: 166px;
        z-index: 200;
    }
    div#tunnel3 {
        top: 88px;
        left: 107px;
        z-index: 300;
    }
    div#tunnel4 {
        top: 42px;
        left: 0px;
        z-index: 400;
    }
    div#tunnel5 {
        top: 85px;
        left: -2px;
        z-index: 500;
    }
    div#tunnel6 {
        top: 44px;
        left: 32px;
        z-index: 600;
    }
    div#tunnel7 {
        top: 65px;
        left: 44px;
        z-index: 700;
    }
    div.tunnel-img:hover>div.tunnel-img {
        visibility: visible !important;
    }
*/
/* }}} */

/* HOMEPAGE HOTGLUE STYLE COMMON STYLES {{{ */
    div.cadre {
        padding: 10px;
        padding-top: 5px;
        position: absolute;
        background-color: white;
        overflow: hidden;
    }
    div.cadre .properties {
        z-index: 1000;
        display: none;
        position: absolute;
        bottom: 10px;
        right: 10px;
        background-color: black;
        text-transform: uppercase;
        font-family: UmePGothicBalsaRegular;
        letter-spacing: 1px;
        color: white;
        padding: 2px 5px;
        cursor: pointer;
    }
    div.cadre:hover .properties {
        display: block;
    }
    div.cadre .ui-resizable-handle.ui-resizable-se.ui-icon.ui-icon-gripsmall-diagonal-se {
        position: absolute;
        bottom: 0;
        right: 0;
    }
    div.cadre.sans-marge {
        padding: 0 !important;
    }
    div.cadre.sans-marge td {
        padding: 0 !important;
    }

/* }}} */

/* COLORS {{{ */
    div.page.saison2011-2012 * {
        border-color: DarkSlateGrey;
         color: #002D36;
    }
    div.page.saison2011-2012 input,
    div.page.saison2011-2012 select,
    div.page.saison2011-2012 button {
         border-color: DarkSlateGray;
         color: #002D36;
    }
    div.page.saison2011-2012 input[type=submit]:hover {
        background-color: DarkSlateGray;
    }
    div.page.saison2012-2013 * {
        border-color: DarkRed;
         color: DarkRed;
    }
    div.page.saison2012-2013 input,
    div.page.saison2012-2013 select,
    div.page.saison2012-2013 button {
         border-color: DarkRed;
         color: DarkRed;
    }
    div.page.saison2011-2012 input[type=submit]:hover {
        background-color: DarkRed;
    }


    div.page.saison2013-2014 * {
        border-color: #00aa5a;
         color: #00aa5a;
    }
    div.page.saison2013-2014 input,
    div.page.saison2013-2014 select,
    div.page.saison2013-2014 button {
         border-color: #00aa5a;
         color: #00aa5a;
    }
    div.page.saison2013-2014 input[type=submit]:hover {
        background-color: #00AA5A;
        color: white;
    }
/* }}} */
